body {
    font-family: calibri;
    margin-top: 20px;
}

div {
    border: 2px solid black;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
    color: black;
    font-family: calibri; 
    font-size: large;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

pre {
    white-space: pre-wrap;
    font-family: calibri;
}

.container {    
                max-width: 800px;
                margin: 0 auto;
                color: black;
                font-family: calibri; 
                font-size: large;
                padding-top: 0;
                padding-left: 20px;
                padding-right: 20px;
                font-weight: bold;
}

h3 {
    display:inline-block;
    text-shadow: 0 0 4px #ff0000;
    
}

h1 {
    display:inline-block;
    text-shadow: 0 0 4px #ff0000;
    
}


.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

/*.comment {
    box-shadow: 5px 5px 5px;
    width: 200px;
}*/

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}

li.dropdown {
        display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 5px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
